<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>$CONTENT_TITLE</title>
<base href="/monRdv-web/" />
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item" th:classappend="${page eq 'home'} ? active"><a
					class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item" th:classappend="${page eq 'connexion'} ? active"><a
					class="nav-link" th:href="@{/}">Se connecter</a></li>
				<li class="nav-item" th:classappend="${page eq 'patient'} ? active"><a
					class="nav-link" th:href="@{/}">Inscription patient</a></li>
				<li class="nav-item" th:classappend="${page eq 'praticien'} ? active"><a
					class="nav-link" th:href="@{/praticien/Praticien_inscription}">Inscription praticien</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<section layout:fragment="content" class="mt-5">
			<p>Page content goes here</p>
		</section>
	</div>
</body>
</html>